.links{
    width: auto;
    text-align: right;
    padding: 15px;
}
a {
    padding-left: 20px;
}
form {
    text-align: center;
}
#submit {
    width: 125px;
    height: 32px;
    text-align: center;
    display:block;
    margin: auto;
}
#query {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    margin: 20px;
    padding-left: 25px;
}
#home {
    display: block;
    margin: auto;
    width: 50%;
}
.one, .two, .three, .four {
    display: flex;
    text-align: left;
    margin-left: 50px;
}
.terms {
    margin-top: 10px;
    margin-left: 70px;
    height: 25px;
}
